<head1>What's in my fridge</head1>
<br></br>

<form method="get" action="/welcome">
    ID: <input type="text" name="userID"/>
    <br>
    Password: <input type="password" name="password"/>
    <br>
    <body>remember</body>
    <input type="checkbox" name="remember"/>
    <br>
    <input type="submit"/>
<a href="/signup">Sign Up</a>
</form>