<head1>What's in my fridge</head1>
<br></br>

<form method="get" action="/profile">
    ID: <input type="text" name="userID"/>
    <br>
    Password: <input type="password" name="password"/>
    <br>
    Confirm Password: <input type="password" name="confirmpassword"/>
    <br>
    Name: <input type="text" name="username"/>
    <br>
    Age: <input type="integer" name="userage"/>
    <br>
    Gender: Male <input type="checkbox" name="usermale"/>
    Female <input type="checkbox" name="userfemale"/>
    <br>
    Country: <input type="text" name="usercountry"/>
    <br>
    <input type="submit"/><br>
    <a href = "/welcome">go back</a>
</form>